// @import '~bourbon/app/assets/stylesheets/bourbon';

@import 'variables';
// @import 'base/grid-settings';
// @import 'base/buttons';
// @import 'base/forms';
// @import '~bourbon-neat/app/assets/stylesheets/neat';

//@import '_agegate';

#body-inner {
	background: $white;
}

#agegate-outer {
	//@import '~normalize-libsass/_normalize';
	background-color: $base-background-color;
	display: none;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	[type=text],
	[type=number],
	select {
	  background-color: $base-background-color;
	  border: $base-border;
	  border-radius: $base-border-radius;
	  box-shadow: $form-box-shadow;
	  box-sizing: border-box;
	  font-family: $base-font-family;
	  font-size: $base-font-size;
	  margin-bottom: $small-spacing;
	  padding: $base-spacing / 3;
	  width: 100%;

	  &:hover {
	    border-color: shade($base-border-color, 20%);
	  }

	  &:focus {
	    border-color: $action-color;
	    box-shadow: $form-box-shadow-focus;
	    outline: none;
	  }

	  &:disabled {
	    background-color: shade($base-background-color, 5%);
	    cursor: not-allowed;

	    &:hover {
	      border: $base-border;
	    }
	  }
	}

	[type="checkbox"] {
	  display: inline;
	  margin-right: $small-spacing / 2;
	}

	.agegate-container {
		margin-top: 4em;
		padding: 0 1em;
	}


	#agegate-errors {
		color: $red;
		margin-bottom: $small-spacing;
		width: 100%;
	}

	.agegate-inner {
		margin: 0 auto;
		max-width: 480px;
		width: 100%;
	}

	.sr-only {
		display: none;
	}

	.agegate-fieldset {
		background-color: $base-background-color;
		background-color: transparent;
		display: inline-block;
		border: 0;
		margin: 0;
		padding: 0;
		width: 100%;

		&:disabled {
			display: none;
		}
	}

	.fieldwrapper {
		box-sizing: border-box;
		float: left;
		padding: 0 5px;
		width: 33.33%;

		&:first-child {
			padding: 0 10px 0 0;
		}

		&:last-child {
			padding: 0 0 0 10px;
		}

		input {
			text-align: center;
		}

	}

	.legal_footer,
	.rememberwrapper,
	.submitwrapper {
		margin: 0;
		width: 100%;
	}

	.selectwrapper {
		margin: 0;
		width: 100%;

		select {
			//text-indent: 5px;
			height: 36px;
			width: 100%;
		}
	}

	.rememberwrapper {
		a {
			white-space: nowrap;
		}
	}

	[type=submit],
	button {
		appearance: none;
	  background-color: $action-color;
	  border: 0;
		border-radius: $base-border-radius;
	  color: $white;
	  cursor: pointer;
	  display: inline-block;
		-webkit-font-smoothing: antialiased;
	  font-weight: 600;
	  line-height: 1;
	  padding: 5px 10px;

	  &:hover,
	  &:focus {
	    background-color: shade($action-color, 20%);
	    color: $white;
	  }

	  &:disabled {
	    cursor: not-allowed;
	    opacity: .5;

	    &:hover {
	      background-color: $action-color;
	    }
	  }
	}

	/*
	//All elements are invalid by default
	//Try adding a class to the element after it is checked once,
	//then combining that class with this selector
	//to only outline after validation
	[type=number],
	[type=text],
	select {
		&:invalid {
			border: 1px solid red;
		}
	}
	*/
}

//FROM BONES FRAMEWORK
//http://themble.com/bones/

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
	// styles in 481up.scss
	//@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {


} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
	// styles in 1030up.scss
	//@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
	// styles in 1240up.scss
	//@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	// styles in 2x.scss
	//@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
	// styles in print.scss
	//@import "partials/print";

}
